*{
    margin: 0;
    padding:0;
}
.left-container{
    display: inline-flex;
    flex-basis: 35rem;
    flex-direction: column;
    flex-shrink: 1;
    max-width: 35rem;
    padding: 1em 3em;
    margin-top:40%;
}
.left-container .button-container a button{
    padding:8px 35px 8px 35px;
    margin-top: 20px;
}
.left-container .button-container a{
    color: white;
    text-decoration: none;
}
.right-container img{
    overflow: hidden;
    position: relative;
    width: 600px;
    border-radius: 5px;
    height: 80%;
    background: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.30);
    margin: 30% 0 0 50px;
}
.cont-center{
    position: relative;
    width: 600px;
    height: auto;
    background: #fff;
    margin:15px 50px 50px 19%;
}
.imgcontainer{
    text-align: left;
    margin: 10px 15px 12px 15px;
    position: relative;
}
.cont-create{
	display: flex;
    text-align: center;
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    background-color: #fefefe;
    border: none;
    overflow: auto;
}
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.swiper-slide{
    width:250px !important;
}
.slider-box{
    margin:20px;
    height:350px;
    width:250px;
    position:relative;
    background-color:#FFFFFF;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    border:1px solid rgba(187,187,187,0.40);
}
.slider-box a{
    text-decoration:none;
    text-align:center;}
.img-box{
    height:170px;
}
.img-box img{
    height:auto;
    max-width:100%;
    max-height:100%;
}
.time{
    position:absolute;
    top:10px;
    align-items: center;
    justify-content: center;
    color:#f16007;
    
}
.detail{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box;
    font-size:13px;
    line-height:35px;}
.price{
    color:#FFFFFF;
    background-color:#ff555b;
    line-height:20px;}
.cart{
    position:absolute;
    bottom:0px;
    height:45px;
    background-color:#ff696e;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;}
.cart a{
    color:#FFFFFF;}
.slider-box:hover{
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}
.slider-box:hover .img-box img{
    transform:scale(1.07);
    transition:all ease 0.3s;}
.cart:hover{
    transform:scale(1.1);
    background-color:#fe9048;
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
    transition:all ease 0.1s;}


.container {
    padding: 16px;
}


.taolop{
    width: 100px;
    padding: 10px 20px;
    height: 50px;
    background-color: #4CAF50;
}


.cancelbtn {
    width: 100px;
    padding: 10px 20px;
    height: 50px;
    background-color: #f44336;
}

.close-set{
    margin-bottom: 20px;
}
.link-follow {
    float: right;
    margin-right: 20px;
}

.link-follow ul li {
    display: inline-block;
    margin-right: 8px;
    margin-top: 5px;
}

.link-follow ul li a {
    background: #888 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    height: 52px;
    line-height: 52px;
    text-align: center;
    transition: .5s;
    width: 52px;
    text-decoration: none;
    transition: .3s;
}

.link-follow ul li a:hover {
    background: #333333 none repeat scroll 0 0;
    color: #fff;
}