@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPresent.cshtml";
}

@model Classes
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div id="topica-vcr">
    <div class="AtlaskitThemeProvider__LegacyReset-sc-431dkp-0 tOoji">
        <div class="wrapper">
            <div class="vcrx-body vcrx-item-box">
                <div class="group-left">
                    <div class="vcrx-box-body vcrx-box-left">
                        <div class="vcrx-item-box vcrx-user-list" id="userlist">
                            <div class="box-user-list box-list">
                                <h5 class="vcrx-title">Người dùng</h5>
                                <div class="group-user">
                                    <div id="teacher-part">
                                        <p class="user-title">Giáo viên</p>
                                        <div class="contact-list-panel">
                                            <ul id="contacts-teacher" class="list-group list-group-striped">
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="student-part">
                                        <p class="user-title">Học sinh (<span class="user-count"></span>)</p>
                                        <div class="contact-list-panel">
                                            <ul id="contacts-student" class="list-group list-group-striped">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-item-box vcrx-tool">
                            <div class="box-tool box-list">
                                <div class="box-title-webcam">
                                    <p class="vcrx-title">Webcam</p>
                                    <div class="webcam-triangle"></div>
                                </div>
                                <div class="line-top"></div>
                                <div class="group-tool">
                                    <div class="tool-triangle"></div>
                                    <div class="box-raise-hand">
                                        <button class="icon-tool ">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-item-box vcrx-webcam">
                            <div class="box-webcam box-list">
                                <div class="video-cam">
                                    <video id="camera" autoplay="autoplay"></video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-right">
                    <div class="vcrx-item-box vcrx-header">
                        <div class="header">
                            <div class="box-logo-topica"><img src="~/pages/Presents/images/logo.png"></div>
                            <div class="box-media-control">
                                <div class="group-media-control">
                                    <div class="media-control">
                                        <div title="Cam" id="cam" class="sim-row-edit-icon mic-control media-box">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div title="Mic" id="mic" class="sim-row-edit-icon1 mic-control media-box">
                                            <i class="fa fa-microphone"></i>
                                        </div>
                                        <div title="Loa" id="speaker" class="sim-row-edit-icon2 volumn-control media-box">
                                            <i class="fa fa-bell"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-header-control">
                                <div class="group-header-control" style="display:flex">
                                    <div style="display:flex;align-items:center;"><span style="font-size:12px;">@User.Identity.Name</span></div>
                                    <div class="log-out">
                                        <button title="Đăng xuất" class="btn-logout" data-toggle="modal"
                                                data-target="#myModallogOut">
                                            <svg class="icon icon-px_ic__Logout">
                                                <use xlink:href="#icon-px_ic__Logout"></use>
                                            </svg> Thoát
                                        </button>
                                        <div id="myModallogOut" class="modal fade" role="dialog" style="height:200px;width:300px;">
                                            <div>
                                                <div>
                                                    <div class="modal-header">
                                                        <button id="close" type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close">
                                                            <svg class="icon icon-px_ic___Delete">
                                                                <use xlink:href="#icon-px_ic___Delete"></use>
                                                            </svg>
                                                        </button>
                                                        <h4 class="modal-title">Thông báo</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="content-logout">
                                                            Bạn có chắc chắn thoát khỏi lớp?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn-border">
                                                            <a href=@Url.Action("Room","Room",Model) >Thoát khỏi lớp</a>
                                                        </button>
                                                        <button class="btn-full" data-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-slide-chat">
                        <div class="vcrx-box-body vcrx-box-center">
                            <div class="vcrx-item-box vcrx-slide">
                                <div class="box-slide box-list">
                                    <div class="vcr-slider">
                                        <div class="vcr-title-user full-width">
                                            <p class="vcrx-title">
                                                Chủ đề: <span>
                                                    @Model.ClassName
                                                </span>
                                            </p>
                                        </div>
                                        <div class="vcr-slide-box">
                                            <video id="screen" autoplay="autoplay"></video>
                                        </div>
                                        <div>
                                            <button class="btn-lg btn-warning" id="zoom">Full Screen</button>
                                            @if (User.IsInRole("Teacher")) {
                                            <button class="btn-lg btn-primary" id="changetrack">Change</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vcrx-box-body vcrx-box-right">
                            <div class="vcrx-item-box vcrx-timer">
                                <div class="box-timer box-list">
                                    <h5 class="vcrx-title">Thời gian</h5>
                                    <div class="box-timer-content">
                                        <div class="box-timer-count">
                                            <span id="datetime" class="timer-count-text">

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vcrx-item-box vcrx-chat">
                                <div class="box-chat box-list">
                                    <div class="vcr-body-chat">
                                        <div class="vcr-title-user">
                                            <h5 class="vcrx-title">Trò chuyện</h5>
                                        </div>
                                        <div class=" vcr-box vcr-public-chat">
                                            <div class="tab">
                                                <ul class="nav nav-tabs" style="text-align: left;">
                                                    <li class="active"><a href="#chat_public" data-toggle="tab" id="public_tab">Public</a></li>
                                                    <li><a href="#chat_private" data-toggle="tab" id="private_tab">Private</a></li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="chat_public" class="tab-pane active">
                                                        <div>
                                                            <div id="sideToolbarContainerChat">
                                                                <div id="chat_container" data-userid-private="0"
                                                                     class="sideToolbarContainer__inner">
                                                                    <div id="chatconversation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="chat_private" class="tab-pane fade in">
                                                        <div>
                                                            <div id="sideToolbarContainerChat">
                                                                <div id="chat_container" data-userid-private="0"
                                                                     class="sideToolbarContainer__inner">
                                                                    <div id="chatconversation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-bar">
                                        <textarea class="text-area" type="text" spellcheck="false" id="usermsg" data-i18n="[placeholder]chat.messagebox" placeholder="Nhập tin nhắn"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const classid = "@Model.ClassID";
    // Set the date we're counting down to
    var now1 = new Date();
    var countDownDate = now1.setHours( now1.getHours() + 1);

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("datetime").innerHTML = minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
    $(".sim-row-edit-icon").click(function () {
    $(this).find('i').toggleClass('fas fa-eye-slash');
    });
    $(".sim-row-edit-icon1").click(function () {
    $(this).find('i').toggleClass('fas fa-microphone-slash');
    });
    $(".sim-row-edit-icon2").click(function () {
    $(this).find('i').toggleClass('fas fa-bell-slash');
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/ConnectionHub.js"></script>
