
@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutHome";
}
    <!-- slider-area-start -->
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider pt-125 pb-130 bg-img" style="background-image:url(pages/home/img/header-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider-content slider-animated-1 text-center">
                                <h1>Đăng Nhập</h1>
                                <h2>Lập Tức</h2>
                                <h3>Để Học Tập</h3>
                                <a asp-action="Login" asp-controller="Account" asp-area="">Đăng Nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url(pages/home/img/video-bg.jpg);">
                <div class="container">
                    <div class="slider-content slider-content-2 slider-animated-1">
                        <h1>Đăng Kí</h1>
                        <h2>Lập Tức</h2>
                        <h3>Để Trải Nghiệm</h3>
                        <a href="#">Đăng Kí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end -->
    <!-- Start feature Area --> 
    <section class="feature-area section-gap" id="feature">
        <div class="container">
            <div class="row">
                <div class="single-feature col-lg-4">
                    <img class="img-fluid" src="~/pages/home/img/post/1.jpg" alt="">
                    <h4>Giao tiếp nhiều hơn
                        Đẩy nhanh hiệu quả</h4>
                    <p>Lớp học quy mô 3-6 giúp học viên có nhiều thời gian giao tiếp hơn khi tương tác trực tiếp với giáo viên. Học quốc tế với chi phí nội địa.</p>
                </div>
                <div class="single-feature col-lg-4">
                    <img class="img-fluid" src="~/pages/home/img/post/1.jpg" alt="">
                    <h4>Giáo viên chuyên nghiệp
                        Công nghệ hiện đại</h4>
                    <p>Giáo viên chất lượng cao đến từ Âu, Úc, Mỹ. Ứng dụng trí tuệ nhân tạo giúp phát hiện sửa lỗi phát âm chỉ sau 10s và gia tăng 3000 từ vựng chỉ sau 3 tháng.</p>
                </div>
                <div class="single-feature col-lg-4">
                    <img class="img-fluid" src="~/pages/home/img/post/1.jpg" alt="">
                    <h4>Chủ đề đa dạng
                        Theo sát tiến trình</h4>
                    <p>Với 365 chủ đề và hệ thống riêng theo sát tiến trình học, học viên nhanh chóng cải thiện sự tự tin và khả năng ngoại ngữ vượt trội.</p>
                </div>												
            </div>
        </div>	
    </section>
    <!-- End feature Area -->
    <!-- Start service Area -->
    <section class="service-area section-gap relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 pb-40 header-text">
                    <h1>Một số tính năng tuyệt vời nên chia sẻ</h1>
                    <p>
                        Những người yêu thích hệ thống thân thiện với môi trường.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4><span class="lnr lnr-user"></span>Quyết định điểm bắt đầu</h4>
                        <p>
                            Các lớp học chia theo trình độ học từ mất căn bản tới nâng cao. Học viên tự lựa chọn tiêu chuẩn, chi phí, giảng viên và thiết bị học.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4>
                            <span class="lnr lnr-license"></span>
                            Lựa chọn cách thức học
                        </h4>
                        <p>
                            Lớp học mở liên tục từ 8h - 12h cho phép học viên lựa chọn khung giờ học bất kỳ, học tiếng Anh online thỏa thích mà không phát sinh chi phí.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4>
                            <span class="lnr lnr-phone"></span>
                            Phương pháp PIALE
                        </h4>
                        <p>
                            Phương pháp xoáy vòng 5 bước tiêu chuẩn chỉ có ở Topica Native: Luyện tập – Giao tiếp – Đánh giá – Bổ sung kiến thức – Kiểm tra khép vòng.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4><span class="lnr lnr-rocket"></span>Kiểm tra trình độ</h4>
                        <p>
                            Khi bạn đăng ký thông tin, Topica Native sẽ liên lạc và gửi cho bạn bài kiểm tra hoàn toàn miễn phí,
                            có thể giúp bạn đánh giá một cách chính xác nhất về trình độ tiếng Anh giao tiếp hiện tại của bạn.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4><span class="lnr lnr-diamond"></span>Nhận tư vấn lộ trình học cá nhân</h4>
                        <p>
                            Qua thông tin bài kiểm tra tiếng Anh. Topica Native sẽ hỗ trợ cung cấp tư vấn về lộ trình học riêng cho học viện.
                            Lộ trình này được xây dựng riêng cho từng học viên và thường xuyên được cập nhật trình độ theo sự tiến bộ.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <h4><span class="lnr lnr-bubble"></span>Bắt đầu quá trình học</h4>
                        <p>
                            Chương trình học anh ngữ trực tuyến với giảng viên Âu Úc Mỹ,
                            luyện nói thỏa thích tới 16 tiếng/ngày.Tạo môi trường giao tiếp anh ngữ ngay tại nhà.
                        </p>
                    </div>
                </div>
            </div>
        </div>	
    </section>
    <!-- End service Area -->
        <!-- Start info Area -->
        <section class="info-area" id="about">
            <div class="container-fluid">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-lg-6 col-md-12 info-left no-padding">
                        <img class="img-fluid" src="~/pages/home/img/info-img.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-12 info-right no-padding">
                        <h1>Chịu trách Nghiệm <br>
                        Hỗ trợ khách hàng</h1>
                        <p>
                            Với Chương trình chúng tôi, bạn học cách làm chủ kỹ năng không bao giờ lỗi thời, trau dồi thêm những kiến thức mới, kết nối với những con người thú vị và chạm tay tới gần hơn thành công trong sự nghiệp.
                        </p>							
                    </div>						
                </div>
            </div>	
        </section>
    <!-- End info Area -->
    <!-- start contact Area -->		
        <section class="contact-area section-gap" id="contact">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-30 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Nếu bạn cần thông tin, hãy gửi phản hồi cho chúng tôi</h1>
                            <p>Mọi thắc mắc sẽ được giải đáp cụ thể.</p>
                        </div>
                    </div>
                </div>										
                <form class="form-area mt-60" id="myForm" action="mail.php" method="post" class="contact-form text-right">
                    <div class="row">	
                        <div class="col-lg-6 form-group">
                            <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text" style="padding: 20px;">
                        
                            <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email" style="padding: 20px;">

                            <input name="subject" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text" style="padding: 20px;">
                        </div>
                        <div class="col-lg-6 form-group">
                            <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                            <button class="primary-btn mt-20">Gửi Phản Hồi<span class="lnr lnr-arrow-right"></span></button>								
                        </div>
                    </div>
                </form>						
                
            </div>	
        </section>

@section Script {

    <script src="~/ts/app.js"></script>
}
    <!-- end contact Area -->	

